/* This is my code */

body {
    background-color: rgb(246, 228, 209);
    color: grey;
}

.main{
    height: 50%;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    margin: auto;
}

.main img{
    width: 50%;
    height: 100%;
}

.main h1{
    font-size: 42px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.main h3{
    letter-spacing: 15px;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main p{
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right{
    padding-left: 20px;
}

.prices{
    display: flex;
}

.prices h2{
    color: green;
}

.prices p{
    text-decoration: line-through;
}

.button{
    background-color: green;
    color: white;
    width: 80%;
    display: flex;
    border-radius: 10px;
}


footer{
    text-align: center;
    margin-top: 50px;
}